@charset "utf-8";
/* CSS Document */
body,p,div,h1,h2,h3,h4,h5,h6,button,input,ol,li,ul,dl,dt,dd,img,table,tr,td,th,select{
	margin:0;
	padding:0;
    border:0;
    list-style:none;
	box-sizing:border-box;}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0); outline-color:#0081ff; background:none;}
button{
	outline:none;}
input::-webkit-input-placeholder {
    color:#aaa;
	}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}
body{
	margin:0 auto;
	font-size:16px;
	color:#121212;
	font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	position:relative;
	}

/* CSS Document */

.biaoge .contList {
	position: relative;
	width: 100%;
	height: 11vw;
	margin: 1vw auto 0;
  }
  .biaoge  .boxVideo {
	width: 100%;
	height: 100%;
  }
  .biaoge .boxVideo video {
	width: 100%;
	height: 100%;
  }
  /* lafite video样式 */
  .jiankong{
	  display: flex;
	  flex-direction: row;
  }
  .jiankong h3{
	  margin-right: 30px;
  }
.video-js {
  width: 100%;
  height: 100%;
}
.video-js:hover .vjs-big-play-button {
  background: none;
}
.video-js .vjs-big-play-button:hover {
  background: none;
}
.video-js .vjs-big-play-button {
  border: none;
  background: none;
}
.bg{
	margin:0 auto;
    width:99%;
	height: 880px;
    background-color: #FFFFFF;
    background-size: cover;
    margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	
}
.title{
	width:500px;
	font-size:0.12rem;
	line-height:0.3rem;
	color:rgba(14,253,255,1);
    margin-left: 48px;
	font-weight:bold;
	
	}
.tip{
	/* padding: auto; */
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 10%;
}
.leftMain{
	margin-left: 40px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	height: 335px;
	width: 1140px;

	}

.rightMain{
	width:350px;
	height: 100%;
	margin-left:35px;
	border:1px solid rgb(5, 2, 0);
 }
.leftmain-right{
	margin-left: 20px;
	width: 375px;
	height: 323px;
	
	position: relative;
}
.bottomMain{
	width:1140px;
	height: 310px;
	margin-top: 15px;
	margin-left: 40px;
	display: flex;
	flex-direction: row;
}
.leftMain_top{
	width:100%;
	}
.leftMain_top ul{
	display:flex;
	display: -webkit-flex;
	}
.leftMain_top ul li{
	
	float:left;
	width:14%;
	padding-right:0.1rem;}
.leftMain_top ul li:last-child{
	padding:0;}
.leftMain_top ul li .liIn{
	border:0.008rem solid rgba(0, 8, 8, 0.5);
	width:100%;
	min-height:60px;
	text-align: center;
	}
.leftMain_top ul li .liIn h3{
	font-size:0.08rem;
	
	margin-bottom:0.05rem;
	}

.leftMain_top ul li .liIn .shu{
	font-size:0.12rem;
	color:rgb(2, 2, 2);
	font-family:dig;
	margin-bottom:0.02rem;}
.leftMain_top ul li .liIn .shu i{
	font-size:0.04rem;
	margin-left:0.06rem;
	font-style:normal;}
.leftMain_middle{
	width:100%;
	height: 345px;
	padding-bottom:0.1rem;
	display:flex;
	display: -webkit-flex;}
.bottomMain .leftMain_bottom{
      margin-top: 24px;
	  margin-left: -32px;
}
.bottomMain .leftMain_middle_leftIn{
	width:530px;
	height: 300px;
	min-height:60px;
	position:relative;
	}
	.leftMain_middle_leftIn h3{
	font-size:0.08rem;
	margin-top: -3px;
	margin-bottom:0.05rem;
	}
	.leftmain-right h3{
		font-size:0.08rem;
	margin-top: -3px;
	margin-bottom:0.05rem;
	}
/* .bottomMain .leftMain_middle_leftIn .biaoge{
	min-height:200px;} */

.bottomMain  .leftMain_middle_rightIn{
	margin-top: -2px;
	width:300px;
	height: 260px;
	margin-right: 30px;
	}
.bottomMain .leftMain_middle_rightIn h3{
	font-size:0.08rem;
	
	margin-bottom:0.05rem;
	}
/* .bottomMain  .leftMain_middle_rightIn .biaoge{
	min-height:200px;} */
/*左边中间部分排行榜*/
.bottomMain .leftMain_middle_rightIn  .biaoge_pai{
	width:100%;
	overflow:hidden;
	}
	
/*右边部分*/
  .bingtu{
	  height: 377px;
	  width: 100%;
	  position: relative;
	  right: 3px;
	  top:-35px;
  }

.rightMain .rightMain_bottom{
	width:100%;
	height: 295px;
	margin-top: -7px;
	margin-left: 58px;
	border:0.008rem solid rgba(0, 8, 8, 0.5);
	}
.rightMain .rightMain_bottomIn{
	width:100%;
	height: 100%;
	min-height:90px;
	position:relative;
	margin-top: 3px;
	}
	
.rightMain .rightMain_bottomIn h3{
	font-size:0.08rem;
	margin-bottom:0.05rem;
	}
/*右下角表格*/
.rightMain .rightMain_bottomIn .biaoge{
	min-height:200px;}
.rightMain .rightMain_bottomIn .biaoge_list{
	overflow:hidden;
	position: relative;}
.rightMain .rightMain_bottomIn .biaoge_list .biaoge_listIn .ul_list{
	overflow:hidden;
	position: relative;
	margin-left: 5px;
}
.rightMain .rightMain_bottomIn .biaoge_list .biaoge_listIn .ul_listIn{
	-webkit-animation: 14s gundong linear infinite normal;
    animation: 14s gundong linear infinite normal;
    position: relative;}
@keyframes gundong {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -30vh, 0);
        transform: translate3d(0, -30vh, 0);
    }
}

.rightMain .rightMain_bottomIn .biaoge_list ul{
	display:flex;
	display: -webkit-flex;
	width:100%;
	}
.rightMain .rightMain_bottomIn .biaoge_list .ul_con{
	border-bottom:0.008rem solid rgba(10, 10, 10, 0.5);}
.rightMain .rightMain_bottomIn .biaoge_list ul li{
	width:90px;
	text-align:center;
	font-size:0.06rem;
	height:0.2rem;
	line-height:0.2rem;}
.rightMain .rightMain_bottomIn .biaoge_list ul li:frist-child{
	text-align:left;}