@font-face {
  font-family: "iconfont"; /* Project id 3281907 */
  src: url('//at.alicdn.com/t/font_3281907_ri9afdgr35l.woff2?t=1648389423341') format('woff2'),
       url('//at.alicdn.com/t/font_3281907_ri9afdgr35l.woff?t=1648389423341') format('woff'),
       url('//at.alicdn.com/t/font_3281907_ri9afdgr35l.ttf?t=1648389423341') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-ziyuan54:before {
  content: "\e606";
}

.icon-a-ziyuan63:before {
  content: "\e607";
}

.icon-a-ziyuan61:before {
  content: "\e608";
}

.icon-a-ziyuan68:before {
  content: "\e609";
}

.icon-a-ziyuan59:before {
  content: "\e60a";
}

.icon-a-ziyuan85:before {
  content: "\e60b";
}

.icon-a-ziyuan81:before {
  content: "\e60c";
}

.icon-a-ziyuan69:before {
  content: "\e60d";
}

.icon-a-ziyuan83:before {
  content: "\e60e";
}

.icon-a-ziyuan93:before {
  content: "\e60f";
}

.icon-a-ziyuan92:before {
  content: "\e610";
}

.icon-a-ziyuan89:before {
  content: "\e611";
}
